<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcloud.uniplugin">

    <application>
        <activity
            android:name="com.dcloud.uniplugin.OpenFileActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"></activity>
    </application>
</manifest>
